* {
  scroll-behavior: smooth;
}

.App {
  /* text-align: center; */
  position: relative;
  justify-content: center;
  /* overflow: hidden; */
  /* display: flex; */
  /* height: 300vh; */
  /* background: url("https://img2.storyblok.com/4098x1200/smart/filters:format(jpeg)/f/53624/4096x1280/04c6a60e17/green-mountains-of-glencoe-in-the-scottish-highlands.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  /* position: absolute; */
  left: 0;
  top: 0;
  background-color: transparent;
  min-height: 55px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 100;
}

/* .App-link {
  color: #61dafb;
} */

.react-pdf__Page__canvas {
  margin: auto auto;
  /* height: 80vw !important; */
  filter: brightness(120%);
   filter: contrast(120%);
   filter: drop-shadow(10px 10px 10px grey);
}

.resume {
  margin-top: 30px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
