/* #homepageTopPhoto > img {
    position: absolute;
    left: 1000;
    top: 550;
    width: 100vw;
}

#homepageTopPhoto {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("https://img.freepik.com/premium-photo/modern-black-office-desk-with-office-supplies-copy-space-presentation-background_67155-21518.jpg") no-repeat center center fixed; 
    background: url("https://img2.storyblok.com/4098x1200/smart/filters:format(jpeg)/f/53624/4096x1280/04c6a60e17/green-mountains-of-glencoe-in-the-scottish-highlands.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homePageSecondSpace {
    position: fixed;
    left: 0;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background: url("https://img2.storyblok.com/4098x1200/smart/filters:format(jpeg)/f/53624/4096x1280/04c6a60e17/green-mountains-of-glencoe-in-the-scottish-highlands.jpg") no-repeat center center fixed; 
    background: url("https://img.freepik.com/premium-photo/modern-black-office-desk-with-office-supplies-copy-space-presentation-background_67155-21518.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

#home {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 660vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( #DECBA4, #3E5151);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

/* #home div {
    position: absolute;
    left: 0;
    top: 0;
    font-size: large;
    color: crimson;
} */

#firstHomeBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 110vh;
    padding: 100px;
    position: flex;
    align-items: center;
    scroll-snap-align: start;
}

/* section > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

#selfPortrait {
    /* position: absolute; */
    border-radius: 50%;
    border: 5px solid #000000;
    /* left: 10px;
    top: 10px; */
    /* height: 50%; */
    /* width: 30%; */
    /* object-fit: cover; */
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */
    margin: auto 0;
}

// #sectionOne {
//     background-color:lightgrey;
// }

// #sectionTwo {
//     background-color:cornflowerblue;
// }

// #sectionThree {
//     background-color: aquamarine;
// }

// #sectionFour {
//     background-color:coral;
// }

// #sectionFive {
//     background-color:indianred;
// }

#sectionSix {
    // background-color:lightpink;
    height: 50vh;
}

#nameText {
    color: white;
    font-size: 5vw;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.headerText {
    color: white;
    font-size: 3vw;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.subTitleText {
    color: white;
    font-size: 4vw;
    text-align: center;
    font-family: 'Acme', sans-serif;
    z-index: 1000000;
}

.grid :hover {
    .subTitleText {
        color: #753BBD !important;
        font-size: 4.1vw !important;
    }
}

#aboutMeText {
    color: white;
    font-family: 'Acme', sans-serif;
    margin: 5px;
    font-size: 1.2vw;
}

.sectionHeader {
    position: absolute;
    top: 15px;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 3vw;
    text-align: center;
}

.grid {
    margin-top: 4vh;
    /* margin-bottom: auto; */
}