/* #homepageTopPhoto > img {
    position: absolute;
    left: 1000;
    top: 550;
    width: 100vw;
}

#homepageTopPhoto {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url("https://img.freepik.com/premium-photo/modern-black-office-desk-with-office-supplies-copy-space-presentation-background_67155-21518.jpg") no-repeat center center fixed; 
    background: url("https://img2.storyblok.com/4098x1200/smart/filters:format(jpeg)/f/53624/4096x1280/04c6a60e17/green-mountains-of-glencoe-in-the-scottish-highlands.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#homePageSecondSpace {
    position: fixed;
    left: 0;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background: url("https://img2.storyblok.com/4098x1200/smart/filters:format(jpeg)/f/53624/4096x1280/04c6a60e17/green-mountains-of-glencoe-in-the-scottish-highlands.jpg") no-repeat center center fixed; 
    background: url("https://img.freepik.com/premium-photo/modern-black-office-desk-with-office-supplies-copy-space-presentation-background_67155-21518.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
} */

#home {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100vh; */
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #home div {
    position: absolute;
    left: 0;
    top: 0;
    font-size: large;
    color: crimson;
} */

#firstHomeBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: -1;
}

section {
    position: relative;
    width: 100%;
    height: 110vh;
    padding: 100px;
}

/* section > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

#selfPortrait {
    /* position: absolute; */
    border-radius: 50%;
    border: 5px solid #000000;
    /* left: 10px;
    top: 10px; */
    /* height: 50%; */
    /* width: 30%; */
    /* object-fit: cover; */
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */
    margin: auto 0;
}

#sectionOne {
    z-index: -1;
    background-color:bisque;
}

#sectionTwo {
    z-index: -1;
    background-color:cornflowerblue;
}

#sectionThree {
    z-index: -1;
    background-color: aquamarine;
}

#sectionFour {
    z-index: -1;
    background-color:coral;
}

#sectionFive {
    z-index: -1;
    background-color:indianred;
}

#sectionSix {
    z-index: -1;
    background-color:lightpink;
}

.headerText {
    color: white;
    font-size: 2em;
    text-align: center;
}